# kubernetes/apps/default/sabnzbd/pvc-config.yaml
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sabnzbd-config
  namespace: default
spec:
  accessModes: ["ReadWriteOnce"]
  storageClassName: longhorn
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sabnzbd-incomplete-pvc-lh
  namespace: default
spec:
  accessModes: ["ReadWriteOnce"]
  storageClassName: longhorn  
  resources:
    requests:
      storage: 250Gi
