---
apiVersion: v1
kind: Service
metadata:
  name: portainer
  namespace: portainer
  annotations:
    external-dns.alpha.kubernetes.io/hostname: portainer.torquasmvo.internal
spec:
  type: LoadBalancer
  loadBalancerIP: 10.0.0.204
  ports:
    - name: http
      port: 9000
      targetPort: 9000
      protocol: TCP
    - name: https
      port: 9443
      targetPort: 9443
      protocol: TCP
    - name: edge
      port: 8000
      targetPort: 8000
      protocol: TCP
  selector:
    app.kubernetes.io/name: portainer
    app.kubernetes.io/instance: portainer
