apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: obsidian-config-lh
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  storageClassName: longhorn-prod
  volumeMode: Filesystem
