# kubernetes/infrastructure/longhorn/app.yaml
apiVersion: v1
kind: Namespace
metadata:
  name: longhorn-system
  labels:
    pod-security.kubernetes.io/enforce: privileged
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: longhorn-system
  source:
    repoURL: https://charts.longhorn.io
    chart: longhorn
    targetRevision: 1.11.0
    helm:
      values: |
        preUpgradeChecker:
          jobEnabled: false
          upgradeVersionCheck: false
        persistence:
          reclaimPolicy: Retain
          defaultClass: true
          defaultClassReplicaCount: 3
        image:
          longhorn:
            manager:
              # renovate: datasource=docker depName=longhornio/longhorn-manager versioning=docker
              tag: v1.11.0-hotfix-1
            instanceManager:
              # renovate: datasource=docker depName=longhornio/longhorn-instance-manager versioning=docker
              tag: v1.11.0-hotfix-1
        defaultSettings:
          defaultReplicaCount: '3'
          defaultDataPath: /var/mnt/longhorn
          defaultDataLocality: best-effort
          createDefaultDiskLabeledNodes: true
          replicaReplenishmentWaitInterval: '60'
        longhornUI:
          replicas: 3
        metrics:
          serviceMonitor:
            enabled: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
