# kubernetes/infrastructure/longhorn/app.yaml
apiVersion: v1
kind: Namespace
metadata:
  name: longhorn-system
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: longhorn-system
  source:
    repoURL: https://charts.longhorn.io
    chart: longhorn
    targetRevision: 1.10.1
    helm:
      values: |
        preUpgradeChecker:
          jobEnabled: false
        persistence:
          reclaimPolicy: Retain
          defaultClass: true
          defaultClassReplicaCount: 1
        defaultSettings:
          defaultReplicaCount: '1'
          defaultDataPath: /var/mnt/longhorn
          createDefaultDiskLabeledNodes: true
        longhornUI:
          replicas: 1
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
