apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitea
  namespace: default
  labels:
    app: gitea
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitea
  template:
    metadata:
      labels:
        app: gitea
      annotations:
        config/restart: "2026-01-21"
    spec:
      containers:
        - name: gitea
          image: gitea/gitea:1.25.4
          ports:
            - name: http
              containerPort: 3000
            - name: ssh
              containerPort: 2222
          envFrom:
            - configMapRef:
                name: gitea-config
          env:
            - name: GITEA__database__PASSWD
              valueFrom:
                secretKeyRef:
                  name: gitea-secrets
                  key: GITEA_DB_PASSWORD
            - name: GITEA__security__SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: gitea-secrets
                  key: GITEA_SECRET_KEY
            - name: GITEA__security__INTERNAL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: gitea-secrets
                  key: GITEA_INTERNAL_TOKEN
            - name: GITEA__server__LFS_JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: gitea-secrets
                  key: GITEA_LFS_JWT_SECRET
          volumeMounts:
            - name: gitea-data
              mountPath: /data
      volumes:
        - name: gitea-data
          persistentVolumeClaim:
            claimName: gitea-data-pvc-lh
