apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gitea-postgres-pvc-lh
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn-prod
  volumeMode: Filesystem
