# kubernetes/apps/monitoring/kube-prometheus-stack/app.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "50"
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: "79.7.1"
    helm:
      values: |
        prometheusOperator:
          replicas: 1
        prometheus:
          prometheusSpec:
            replicas: 1
          service:
            type: LoadBalancer
            loadBalancerIP: 10.0.0.230
        alertmanager:
          alertmanagerSpec:
            replicas: 1
          service:
            type: LoadBalancer
            loadBalancerIP: 10.0.0.231
        grafana:
          replicas: 1
          admin:
            existingSecret: grafana-admin
            userKey: admin-user
            passwordKey: admin-password
          service:
            type: LoadBalancer
            loadBalancerIP: 10.0.0.232
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
