# kubernetes/apps/monitoring/kube-prometheus-stack/app.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "50"
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: "82.2.1"
    helm:
      values: |
        prometheusOperator:
          replicas: 1
        kubeProxy:
          enabled: true
          service:
            enabled: true
            selector:
              k8s-app: kube-proxy
        kubeControllerManager:
          enabled: true
          service:
            enabled: true
            port: 10257
            targetPort: 10257
            selector:
              k8s-app: kube-controller-manager
          serviceMonitor:
            enabled: true
            https: true
            insecureSkipVerify: true
        kubeScheduler:
          enabled: true
          service:
            enabled: true
            port: 10259
            targetPort: 10259
            selector:
              k8s-app: kube-scheduler
          serviceMonitor:
            enabled: true
            https: true
            insecureSkipVerify: true
        prometheus:
          prometheusSpec:
            replicas: 1
            serviceMonitorNamespaceSelector: {}
            serviceMonitorSelector: {}
            serviceMonitorSelectorNilUsesHelmValues: false
          service:
            type: LoadBalancer
            loadBalancerIP: 10.0.0.230
            annotations:
              external-dns.alpha.kubernetes.io/hostname: prometheus.torquasmvo.internal
        alertmanager:
          alertmanagerSpec:
            replicas: 1
          service:
            type: LoadBalancer
            loadBalancerIP: 10.0.0.231
            annotations:
              external-dns.alpha.kubernetes.io/hostname: alertmanager.torquasmvo.internal
        grafana:
          replicas: 1
          admin:
            existingSecret: grafana-admin
            userKey: admin-user
            passwordKey: admin-password
          sidecar:
            dashboards:
              enabled: true
              label: grafana_dashboard
              labelValue: "1"
              searchNamespace: ALL
          service:
            type: LoadBalancer
            loadBalancerIP: 10.0.0.232
            annotations:
              external-dns.alpha.kubernetes.io/hostname: grafana.torquasmvo.internal
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
