---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      containers:
        - name: jellyfin
          image: lscr.io/linuxserver/jellyfin:10.11.2
          ports:
            - containerPort: 8096
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "America/New_York"
          resources:
            requests:
              gpu.intel.com/i915: "1"
              cpu: 1000m
              memory: "6Gi"
            limits:
              gpu.intel.com/i915: "1"
          volumeMounts:
            - name: config
              mountPath: /config
            - name: tv
              mountPath: /data/tv
            - name: movies
              mountPath: /data/movies
            - name: jellyfin-transcode
              mountPath: /transcode
          # resources:
          #   limits:
          #     nvidia.com/gpu: 1
          securityContext:
            privileged: true
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jellyfin-config-lh
        - name: tv
          persistentVolumeClaim:
            claimName: media-tv-pvc
        - name: movies
          persistentVolumeClaim:
            claimName: media-movies-pvc
        - name: jellyfin-transcode
          persistentVolumeClaim:
            claimName: jellyfin-zfstranscode-pvc
