apiVersion: v1
kind: Service
metadata:
  name: argocd-server-lb
  namespace: argocd
  annotations:
    external-dns.alpha.kubernetes.io/hostname: argocd.torquasmvo.internal
spec:
  type: LoadBalancer
  loadBalancerIP: 10.0.0.209
  selector:
    app.kubernetes.io/name: argocd-server
  ports:
    - name: https
      port: 443
      targetPort: 8080
    - name: http
      port: 80
      targetPort: 8080
