---
apiVersion: v1
kind: Service
metadata:
  name: audiobookshelf
  namespace: default
  labels:
    app: audiobookshelf
  annotations:
    external-dns.alpha.kubernetes.io/hostname: audiobookshelf.torquasmvo.internal
spec:
  type: LoadBalancer
  loadBalancerIP: 10.0.0.208   # pick a free IP from your MetalLB pool
  selector:
    app: audiobookshelf
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
