apiVersion: tuppr.home-operations.com/v1alpha1
kind: TalosUpgrade
metadata:
  name: talos-upgrade
  namespace: system-upgrade
spec:
  talos:
    # renovate: datasource=docker depName=ghcr.io/siderolabs/installer
    version: v1.12.4
  policy:
    placement: soft
  maintenance:
    windows:
      - start: "0 3 * * 0"
        duration: "4h"
        timezone: "America/New_York"
