clusterName: talos-rao
endpoint: https://10.0.0.34:6443
talosVersion: v1.11.3
kubernetesVersion: v1.34.1
domain: cluster.local
allowSchedulingOnControlPlanes: true
clusterPodNets:
  - 10.244.0.0/16
clusterSvcNets:
  - 10.96.0.0/12
additionalApiServerCertSans:
  - 10.0.0.34
nodes:
  - hostname: brainiac-00
    ipAddress: 10.0.0.30
    controlPlane: true
    installDisk: /dev/nvme1n1
controlPlane:
  talosImageURL: ghcr.io/siderolabs/installer:v1.11.3
  networkInterfaces:
    - interface: enp2s0f1np1
      dhcp: true
      vip:
        ip: 10.0.0.30
  userVolumes:
    - name: longhorn
      provisioning:
        diskSelector:
          match: "disk.dev_path == '/dev/nvme0n1' && !system_disk"
        grow: true
        maxSize: 2TB
  extensionServices:
    - name: nut-client
      configFiles:
        - mountPath: /usr/local/etc/nut/upsmon.conf
          content: |
            MONITOR ups1500@batterypi.torquasmvo.internal 1 upsmon_remote hunter2 secondary
            SHUTDOWNCMD "/sbin/poweroff"
  patches:
    - |-
        machine:
          kubelet:
            image: ghcr.io/siderolabs/kubelet:v1.34.1
            extraMounts:
              - destination: /var/mnt/longhorn
                type: bind
                source: /var/mnt/longhorn
                options:
                  - bind
                  - rshared
                  - rw
            defaultRuntimeSeccompProfileEnabled: true
            disableManifestsDirectory: true
          features:
            rbac: true
            stableHostname: true
            apidCheckExtKeyUsage: true
            diskQuotaSupport: true
            kubePrism:
              enabled: true
              port: 7445
            hostDNS:
              enabled: true
              forwardKubeDNSToHost: true
          install:
            wipe: false
        cluster:
          discovery:
            enabled: true
            registries:
              kubernetes:
                disabled: true
              service: {}
