clusterName: talos-rao
endpoint: https://10.0.0.30:6443
talosVersion: v1.12.2
kubernetesVersion: v1.35.0
domain: cluster.local
allowSchedulingOnControlPlanes: true
clusterPodNets:
  - 10.244.0.0/16
clusterSvcNets:
  - 10.96.0.0/12
additionalApiServerCertSans:
  - 10.0.0.34
  - 10.0.0.35
  - 10.0.0.36
nodes:
  - hostname: brainiac-00
    ipAddress: 10.0.0.34
    controlPlane: true
    installDiskSelector:
      size: "<= 600GB"
      type: "nvme"
  - hostname: brainiac-01
    ipAddress: 10.0.0.35
    controlPlane: true
    installDiskSelector:
      size: "<= 600GB"
      type: "nvme"
  - hostname: brainiac-02
    ipAddress: 10.0.0.36
    controlPlane: true
    installDiskSelector:
      size: "<= 600GB"
      type: "nvme"
controlPlane:
  talosImageURL: factory.talos.dev/installer/284a1fe978ff4e6221a0e95fc1d01278bab28729adcb54bb53f7b0d3f2951dcc
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/i915
          - siderolabs/intel-ice-firmware
          - siderolabs/intel-ucode
          - siderolabs/iscsi-tools
          - siderolabs/mei
          - siderolabs/nut-client
          - siderolabs/nvme-cli
          - siderolabs/thunderbolt
          - siderolabs/util-linux-tools
  networkInterfaces:
    - interface: enp2s0f1np1
      dhcp: true
      vip:
        ip: 10.0.0.30
  userVolumes:
    - name: longhorn
      provisioning:
        diskSelector:
          # 1500000000000u = 1.5TB in bytes (u suffix for unsigned integer to match disk.size type)
          match: "disk.size >= 1500000000000u && !system_disk"
        grow: true
        maxSize: 2TB
  extensionServices:
    - name: nut-client
      configFiles:
        - mountPath: /usr/local/etc/nut/upsmon.conf
          content: |
            MONITOR ups1500@batterypi.torquasmvo.internal 1 upsmon_remote hunter2 secondary
            SHUTDOWNCMD "/sbin/poweroff"
  patches:
    - |-
        machine:
          kubelet:
            image: ghcr.io/siderolabs/kubelet:v1.35.0
            extraMounts:
              - destination: /var/mnt/longhorn
                type: bind
                source: /var/mnt/longhorn
                options:
                  - bind
                  - rshared
                  - rw
            defaultRuntimeSeccompProfileEnabled: true
            disableManifestsDirectory: true
          features:
            rbac: true
            apidCheckExtKeyUsage: true
            diskQuotaSupport: true
            kubePrism:
              enabled: true
              port: 7445
            hostDNS:
              enabled: true
              forwardKubeDNSToHost: true
            kubernetesTalosAPIAccess:
              enabled: true
              allowedRoles:
                - os:admin
              allowedKubernetesNamespaces:
                - system-upgrade
          install:
            wipe: true
        cluster:
          apiServer:
            admissionControl:
              - name: PodSecurity
                configuration:
                  apiVersion: pod-security.admission.config.k8s.io/v1alpha1
                  kind: PodSecurityConfiguration
                  defaults:
                    enforce: privileged
                    enforce-version: latest
                    audit: restricted
                    audit-version: latest
                    warn: restricted
                    warn-version: latest
          discovery:
            enabled: true
            registries:
              kubernetes:
                disabled: true
              service: {}
