apiVersion: apps/v1
kind: Deployment
metadata:
  name: semaphore-postgres-deployment
  labels:
    app: semaphore-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: semaphore-postgres
  template:
    metadata:
      labels:
        app: semaphore-postgres
    spec:
      containers:
        - name: semaphore-postgres
          image: postgres:15
          ports:
            - containerPort: 5432

          env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: semaphore-secrets
                  key: SEMAPHORE_DB_PASS
            - name: POSTGRES_USER
              valueFrom:
                configMapKeyRef:
                  name: semaphore-configmap
                  key: SEMAPHORE_DB_USER
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: semaphore-configmap
                  key: SEMAPHORE_DB_NAME
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
              subPath: postgres
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: semaphore-postgres-pvc-lh
---
apiVersion: v1
kind: Service
metadata:
  name: semaphore-postgres-service
spec:
  type: ClusterIP
  selector:
    app: semaphore-postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
