---
apiVersion: v1
kind: Service
metadata:
  name: pihole-service
  namespace: default
spec:
  type: LoadBalancer
  loadBalancerIP: 10.0.0.213
  selector:
    app: pihole
  ports:
    - name: dns-udp
      protocol: UDP
      port: 53
      targetPort: dns-udp
    - name: dns-tcp
      protocol: TCP
      port: 53
      targetPort: dns-tcp
    - name: http
      protocol: TCP
      port: 80
      targetPort: http
    - name: https
      protocol: TCP
      port: 443
      targetPort: https
