apiVersion: longhorn.io/v1beta2
kind: RecurringJob
metadata:
  name: hourly-snap
  namespace: longhorn-system
spec:
  task: snapshot
  cron: "0 * * * *"
  retain: 24
  concurrency: 1
  groups:
    - prod
---
apiVersion: longhorn.io/v1beta2
kind: RecurringJob
metadata:
  name: daily-backup
  namespace: longhorn-system
spec:
  task: backup
  cron: "0 2 * * *"
  retain: 14
  concurrency: 1
  groups:
    - prod
---
apiVersion: longhorn.io/v1beta2
kind: RecurringJob
metadata:
  name: daily-trim
  namespace: longhorn-system
spec:
  task: filesystem-trim
  cron: "0 0 * * *"
  concurrency: 1
  groups:
    - prod
    - default
---
# apiVersion: longhorn.io/v1beta2
kind: Setting
metadata:
  # Ensure restored volumes keep any recurring job assignments
  name: restore-volume-recurring-job
  namespace: longhorn-system
value: "true"
