---

name: Kubeconform

on:
  pull_request:
    paths:
      - 'kubernetes/**/*.yaml'
      - '.github/workflows/kubeconform.yml'
  push:
    branches: [main, master]
    paths:
      - 'kubernetes/**/*.yaml'
      - '.github/workflows/kubeconform.yml'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  kubeconform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          # Fetch all history for all branches and tags for the tj-actions/changed-files action
          fetch-depth: 0
      - name: Get changed Kubernetes YAML files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
        with:
          files: |
            kubernetes/**/*.yaml
      - name: Validate changed manifests with kubeconform
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: docker://ghcr.io/yannh/kubeconform:v0.7.0@sha256:7426d17ca19f3731d2a6287c868005f052f2682800141f20e83d3109f5c8faa1
        with:
          args: -strict -ignore-missing-schemas -summary ${{ steps.changed-files.outputs.all_changed_files }}
      - name: No Kubernetes YAML changes
        if: steps.changed-files.outputs.any_changed != 'true'
        run: echo "No kubernetes YAML changes detected. Skipping kubeconform."
